<% @networks=Network.all %>
<h1>Подсети</h1>
<nav><%= button_to "Поиск оборудования во всех сетях", {:controller => "networks", :action => "findallnetsw"}, :method => :get %></nav>
<table>
  <tr>
    <th>Подсеть</th>
  </tr>
  <% @networks.each do |network| -%>
  <tr>
    <td><%= network.networkaddress %></td>
    <td><%= button_to "Удалить подсеть", "networks/#{network.id}", :method => :delete %></td>
    <td><%= button_to "Поиск оборудования", {:action => :findsw, :id => network.id}, :method => :get %></td>
  </tr>
  <% end -%>
</table>
<%= render :partial => "form" %>
<%# TODO refactoring to partial %>
<%# link_to "See table Ip's", ips_path %>
