<h1>Модели свитчей</h1>
<table>
  <tr>
    <th>Производитель</th>
    <th>Наименование</th>
    <th>Objid</th>
  </tr>
  <%- @swmodels.each do |model| %>
    <tr>
      <td><%= model.company %></td>
      <td><%= model.name %></td>
      <td><%= model.objid %></td>
      <td><%= button_to "Удалить модель", model, :method=>:delete %></td>
      <td><%= button_to "Редактировать", model, :method=>:get %></td>
    </tr>
  <%- end %>
  <tr>
    <%= form_for @swmodel do |swmodel| %>
      <td><%= swmodel.text_field :company, :size => 10 %></td>
      <td><%= swmodel.text_field :name, :size => 20 %></td>
      <td><%= swmodel.text_field :objid, :size => 20 %></td>
      <td><%= swmodel.submit ("Создать модель") %></td>
    <%- end %>
  </tr>
</table>