<h1>Отображение Вланов</h1>
<table>
	<tr>
		<th>Влан PVID</th>
		<th>Адреса на которых используется</th>
		<th>Примечание</th>
		<th>Вынос</th>
		<th>Терминируется на</th>
		<th>Может быть BD</th>
		<th>Bridge Domain</th>
		<%# Еще добавить ответственного, когда создан %>
	</tr>
	<% @vlans.each do |vlan| -%>
		<% if vlan.used==@used %>
			<tr>
				<td><%= vlan.vlanpvid %></td>
				<td><%= vlan.address %></td>
				<td><%= vlan.descr %></td>
				<td><%= vlan.vino.vinosname %></td>
				<td><%= vlan.vino.terminate_point.routerip %></td>
				<td>
					<% if vlan.canbebd!=true %>
						<%= link_to "bd on", "vlanbdon/#{vlan.id}", :method => :get %>
					<% else %>
						<%= link_to "bd off", "vlanbdoff/#{vlan.id}", :method => :get %>
					<% end -%>
				</td>
				<td>
					<%= vlan.bridgedomain.vlanpvid if vlan.bridgedomain %>
					<%= link_to "Сменить", "changebd/#{vlan.id}", :method => :get %>
				</td>
				<% if @used==true %>
					<td>
						<%= link_to "Освободить влан", "vlan/#{vlan.id}", :method => :delete %>
						<%= link_to "Редактировать влан", "vlan/#{vlan.id}", :method => :get %>
					</td>
				<% end -%>
			</tr>
		<% end -%>
	<% end -%>
</table>

