<h1>Отображение Вланов</h1>
<nav>
	<% style = Hash.new %>
	<% if @used==true %>
		<% style[:used]="color:red" %>
		<% style[:notused]="color:black" %>
	<% else %>
		<% style[:used]="color:black" %>
		<% style[:notused]="color:red" %>
	<% end -%>
	<div>
    <%= link_to 'Занятые', "#{request.path}"+'?used=true', {:style=>style[:used]} %>
    <%= link_to 'Свободные', "#{request.path}"+'?used=false', {:style=>style[:notused]} %>
	</div>
</nav>
<% if @used==true %>
  <% @bds.each do |bd| %>
    <h3>Бридж домен <%= bd.vlanpvid %><%= request.query_parameters %><%= @showbds["#{bd.vlanpvid}"] %><%= link_to '+-', "#{request.path}"%></h3>



    <% if @showbds["#{bd.vlanpvid}"]=="true" %>
<table>
	<tr>
		<th>Влан PVID</th>
		<th>Адреса на которых используется</th>
		<th>Примечание</th>
		<th>Вынос</th>
		<th>Терминируется на</th>
		<%# Еще добавить ответственного, когда создан %>
	</tr>
	<% @vlans.each do |vlan| -%>
		<% if vlan.used==@used %>
			<tr>
				<td><%= vlan.vlanpvid %></td>
				<td><%= vlan.address %></td>
				<td><%= vlan.descr %></td>
				<td><%= vlan.vino.vinosname %></td>
				<td><%= vlan.vino.terminate_point.routerip %></td>
				<% if @used==true %>
					<td>
						<%= link_to "Освободить влан", "vlan/#{vlan.id}", :method => :delete %>
						<%= link_to "Редактировать влан", "vlan/#{vlan.id}", :method => :get %>
					</td>
				<% end -%>
			</tr>
		<% end -%>
	<% end -%>
</table>
<% end -%>


<% end -%>
<% end -%>
