<table>
	<tr>
		<th>Влан PVID</th>
		<% if @used %>
			<th>Адреса на которых используется</th>
			<th>Примечание</th>
		<% end -%>
		<%# Еще добавить ответственного, когда создан %>
	</tr>
	<% @showvlans.each do |vlan| -%>
		<% if vlan.used==@used %>
			<tr>
				<td><%= vlan.vlanpvid %></td>
				<% if @used %>
					<td><%= vlan.address %></td>
					<td><%= vlan.descr %></td>
					<td><%#= vlan.vino.vinosname %></td>
					<td><%#= vlan.vino.terminate_point.routerip %></td>
					<td>
						<%= link_to "Освободить влан", "vlan/#{vlan.id}" %>
						<%= link_to "Редактировать влан", "vlan/#{vlan.id}", :method => :get %>
					</td>
				<% else %>
					<td>
						<%= link_to "Убрать влан из резерва", vlan_path(:id => vlan.id), :method => :delete %>
					</td>
				<% end -%>
			</tr>
		<% end -%>
	<% end -%>
</table>

