<table>
	<tr>
		<th>Влан PVID</th>
		<th>Адреса на которых используется</th>
		<th>Примечание</th>
		<%# Еще добавить ответственного, когда создан %>
	</tr>
	<% @showvlans.each do |vlan| -%>
		<% if vlan.used==@used %>
			<tr>
				<td><%= vlan.vlanpvid %></td>
				<td><%= vlan.address %></td>
				<td><%= vlan.descr %></td>
				<td><%#= vlan.vino.vinosname %></td>
				<td><%#= vlan.vino.terminate_point.routerip %></td>
				<% if @used==true %>
					<td>
						<%= link_to "Освободить влан", "vlan/#{vlan.id}", :method => :delete %>
						<%= link_to "Редактировать влан", "vlan/#{vlan.id}", :method => :get %>
					</td>
				<% end -%>
			</tr>
		<% end -%>
	<% end -%>
</table>

