<h1>Vlans#autocreate</h1>
<p>Find me in app/views/vlans/autocreate.html.erb</p>
<%= form_tag 'autocreate2', :method => :post do %>
  <%= label_tag :vino, "Вынос" %><br />
  <%= select_tag :vino_id, options_from_collection_for_select(@vinos, :id, :vinosname) %><br />
  <%= label_tag :bd, "Бридж домайн" %><br />
  <%= select_tag :bd_id, options_from_collection_for_select(@bds, :id, :vlanpvid) %><br />
  <%= submit_tag "Зарезервировать влан автоматически" %><br />
<% end -%>
