<nav>
<% Domain.all.each do |domain| %>
	<%= link_to domain.name, dispvlans_path(:domains => domain.id, used:@used) %>
<% end -%>
<br />
<%= link_to 'Занятые', dispvlans_path(:showbds => {}.merge(@showbds), used:true, :domains => @domain) %>
<%= link_to 'Свободные', dispvlans_path(:showbds => {}.merge(@showbds), used:false, :domains => @domain) %>
</nav>
<%#= @domain %>
<%#= @vlans %>
<%#= @used %>
<% if @used==true %>
	<%= render :partial => 'dispbds' %>
<% else %>
	<% @showvlans=@vlans %>
  <%= render :partial => 'tableofvlans' %>
	<%#= "net" %>
<% end -%>
