<h1>Таблица вланов</h1>
<nav>
  <%= link_to "Точки терминирования", terminate_points_path, :method => :get %>
	<%= link_to "Выносы", vinos_path, :method => :get %>
	<%= link_to "Автоматически выдать влан", vlans_autocreate_path, :method => :get %>
	<%= link_to "Выдать влан вручную", vlans_manualcreate_path, :method => :get %>
</nav>
<table>
	<tr>
		<th>Влан PVID</th>
		<th>Используется</th>
		<th>Адреса на которых используется</th>
		<th>Примечание</th>
		<th>Вынос</th>
		<th>Терминируется на</th>
		<%# Еще добавить ответственного, когда создан %>
	</tr>
	<% @vlans.each do |vlan| -%>
		<tr>
			<td>vlan.vlanpvid</td>
			<td>vlan.used</td>
			<td>vlan.address</td>
			<td>vlan.descr</td>
			<td>vlan.vinos_id</td>
			<td>tut term point budet</td>
			<td>
				<%= button_to "Удалить влан", vlan, :method => :delete %>
				<%= button_to "Редактировать влан", vlan, :method => :get %>
			</td>
		</tr>
	<% end -%>
</table>

