<h1>Коммутаторы</h1>
<table>
  <tr>
    <th>Адрес</th>
    <th>Модель</th>
  </tr>
  <% @switches.each do |switch| %>
      <% if switch.model_id then %>
          <% model=Swmodel.find(switch.model_id) %>
      <% end %>
      <tr>
        <td><%= switch.address %></td>
        <td>
        <% if model then %>
            <%= model.name %>
        <% end %>
        </td>
        <td><%= link_to "Удалить коммутатор", switch, :method => :delete %></td>
        <td><%= link_to "Редактировать", switch %></td>
      </tr>
  <% end %>
</table>
<%= render :partial => "form" %>