<h1>Коммутаторы</h1>
<table>
  <tr>
    <th>Адрес</th>
    <th>Модель</th>
    <th>IP Адрес</th>
  </tr>
  <% @switches.each do |switch| %>
      <tr>
        <td><%= switch.address %></td>
        <td>
          <% if switch.swmodel then %>
            <%= switch.swmodel.name %>
          <% end %>
        </td>
        <td>
          <% if switch.ips.size!=0 then %>
              <%= switch.ips.first.ipaddress %>
          <% end %>
        </td>
        <td><%= link_to "Удалить коммутатор", switch, :method => :delete %></td>
        <td><%= link_to "Редактировать", switch %></td>
      </tr>
  <% end %>
</table>
<%= render :partial => "form" %>
