<%= form_for(@myuser) do |f| %>
  <% if @myuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myuser.errors.count, "error") %> prohibited this myuser from being saved:</h2>

      <ul>
      <% @myuser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
