<%= form_for(@terminate_point) do |f| %>
  <% if @terminate_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terminate_point.errors.count, "error") %> prohibited this terminate_point from being saved:</h2>

      <ul>
      <% @terminate_point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
		<%= label_tag 'Домен' %>
		<%= select_tag :domain_id, options_from_collection_for_select(@domains, :id, :name) %><br />
	</div>
  <div class="field">
    <%= f.label 'IP адрес роутер' %><br />
    <%= f.text_field :routerip %>
  </div>
  <div class="field">
    <%= f.label 'mac адрес роутера' %><br />
    <%= f.text_field :routermac %>
  </div>
  <div class="field">
    <%= f.label 'Примечание' %><br />
    <%= f.text_field :descr %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
