<h1>Listing terminate_points</h1>

<table>
  <tr>
    <th>Routerip</th>
    <th>Routermac</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @terminate_points.each do |terminate_point| %>
  <tr>
    <td><%= terminate_point.routerip %></td>
    <td><%= terminate_point.routermac %></td>
    <td><%= link_to 'Show', terminate_point %></td>
    <td><%= link_to 'Edit', edit_terminate_point_path(terminate_point) %></td>
    <td><%= link_to 'Destroy', terminate_point, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Terminate point', new_terminate_point_path %>
