<h1>Точки терминирования</h1>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>IP адрес роутера</th>
    <th>mac адрес роутера</th>
    <th>Примечание</th>
		<th>Домен вланов</th>
    <th></th>
    <th></th>
  </tr>

<% @terminate_points.each do |terminate_point| %>
  <tr>
    <td><%= terminate_point.routerip %></td>
    <td><%= terminate_point.routermac %></td>
    <td><%= terminate_point.descr %></td>
		<td><%= terminate_point.domain.name %></td>
    <td><%= link_to 'Редактировать', edit_terminate_point_path(terminate_point) %></td>
    <td><%= link_to 'Удалить', terminate_point, confirm: 'Вы уверены?', method: :delete %></td>
    <td><%= link_to 'Вланы этой точки', "tpvlans/#{terminate_point.id}", method: :post %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить новую точку терминирования', new_terminate_point_path %>
