<h1>Listing outins</h1>

<table>
  <tr>
    <th>Nameis</th>
    <th>Oborudovanie</th>
    <th>Bridgedomain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outins.each do |outin| %>
  <tr>
    <td><%= outin.nameis %></td>
    <td><%= outin.oborudovanie %></td>
    <td><%= outin.bridgedomain %></td>
    <td><%= link_to 'Show', outin %></td>
    <td><%= link_to 'Edit', edit_outin_path(outin) %></td>
    <td><%= link_to 'Destroy', outin, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Outin', new_outin_path %>
