<p id="notice"><%= notice %></p>

<p>
  <b>Nameis:</b>
  <%= @outin.nameis %>
</p>

<p>
  <b>Oborudovanie:</b>
  <%= @outin.oborudovanie %>
</p>

<p>
  <b>Bridgedomain:</b>
  <%= @outin.bridgedomain %>
</p>


<%= link_to 'Edit', edit_outin_path(@outin) %> |
<%= link_to 'Back', outins_path %>
