<%= form_for(@vino) do |f| %>
  <% if @vino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vino.errors.count, "error") %> prohibited this vino from being saved:</h2>

      <ul>
      <% @vino.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vinosname %><br />
    <%= f.text_field :vinosname %>
  </div>
  <div class="field">
    <%= f.label :descr %><br />
    <%= f.text_field :descr %>
  </div>
  <div class="field">
    <%= f.label :terminate_point_id %><br />
    <%= f.number_field :terminate_point_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
