<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Netwctools</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;">
<nav><%= link_to "Главная", "/index" %>
<%= link_to "Подсети", "/networks" %>
<%= link_to "Модели свитчей", "/swmodels" %>
<%= link_to "Коммутаторы", "/switches" %>
<%= link_to "Вланы", "/vlans" %></nav>
<%# yield %>
<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>

</body>
</html>
